$gray:                           #222224;
$gray-light:                     #515356;
$gray-lighten:                   #f2f2f2;
$green:                          #0f8241;
$green-light:                    #76faaf;

$font-family--fedrasans:         'Open Sans_my', Arial, Helvetica, sans-serif;
$font-family--gillsans:          'Open Sans_my', Arial, Helvetica, sans-serif;

$font-size--base:                24px;
$line-height--base:              30px;
$font-size--title:               36px;
$font-size--big-title:           48px;

$screen-xs-min:                  480px;
$screen-sm-min:                  768px;
$screen-md-min:                  992px;
$screen-lg-min:                  1200px;
