.advantages {
	background-color: $green;
	padding-top: 90px;
	padding-bottom: 90px;
	text-align: center;

	&__container {
		@include container();
	}

	@media (min-width: $screen-md-min) {
		padding-top: 75px;
		padding-bottom: 80px;
	}

	@media (min-width: $screen-lg-min) {
		background-image: url(../../img/advantages-bg.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center top;
		padding-top: 90px;
		padding-bottom: 100px;
	}

	&__title {
		font-family: $font-family--fedrasans;
		font-size: $font-size--big-title;
		font-weight: 400;
		color: #fff;
		text-align: center;
		// margin-bottom: 110px;
		margin-bottom: 200px;
		position: relative;

		&::after {
			width: 80px;
			height: 4px;
			content: '';
			position: absolute;
			bottom: -45px;
			left: 50%;
			transform:translateX(-50%);
			background-color: #fff;

			@media (min-width: $screen-md-min) {
				width: 40px;
				height: 2px;
				bottom: -25px;
			}
		}

		@media (min-width: $screen-md-min) {
			margin-bottom: 95px;
			font-size: 32px;
			font-weight: 300;
		}

		@media (min-width: $screen-lg-min) {
			margin-bottom: 75px;
			font-size: 36px;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		padding-bottom: 15px;
		@media (min-width: $screen-md-min) {
			flex-direction: row;
			justify-content: space-around;
			flex-wrap: wrap;
			padding-bottom: 30px;
		}
		@media (min-width: $screen-md-min) {
			padding-bottom: 90px;
		}
	}

	&__item {
		border: 1px solid white;
		text-align: center;
		// margin-bottom: 70px;
		margin-bottom: 210px;
		font-family: $font-family--gillsans;
		font-size: $font-size--base;
		font-weight: 300;
		color: #fff;
		position: relative;


		@media (min-width: $screen-md-min) {
			flex: 1 1 33%;
			margin-bottom: 40px;
			font-size: 18px;
		}

		@media (min-width: $screen-lg-min) {
			margin-bottom: 15px;
		}

		&--provision,
		&--short-selling {
			@media (min-width: $screen-md-min) {
				flex: 0 1 45%;
			}
		}

		// &::before {
		// 	width: 150px;
		// 	height: 150px;
		// 	content: '';
		// 	position: absolute;
		// 	bottom: calc(100% + 35px - 50px);
		// 	left: 50%;
		// 	transform: translateX(-50%);
		// 	background-repeat: no-repeat;
		// 	background-position: center;
		// }

		// &--funding {
		// 	&::before{
		// 		background-image: url("../img/icon-1_euro.svg");
		// 	}
		// }

		// &--min-fee {
		// 	&::before{
		// 		background-image: url("../img/icon-2_money.svg");
		// 	}
		// }

		// &--commissions {
		// 	&::before{
		// 		background-image: url("../img/icon-3_smile.svg");
		// 	}
		// }

		// &--provision {
		// 	&::before{
		// 		background-image: url("../img/icon-4_check.svg");
		// 		background-color: transparent;
		// 	}
		// }

		// &--short-selling {
		// 	&::before{
		// 		background-image: url("../img/icon-5_updown.svg");
		// 	}
		// }
	}
}