.b-rates {
	position: relative;
	border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  padding: 0 40px;
  width: 100%;
  max-width: 1900px;
}
.b-rates__container {
	@media (min-width: $screen-md) {
    display: flex;
    flex-wrap: wrap;
  }
}


.b-exchange {
	&__inner {
	    display: flex;
	    flex-direction: column;
	    align-items: flex-start;
	    height: 100%;
	    padding: 0px 40px;
	    border-right: 1px solid transparent;
	  }

	&:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #808080;
  }

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-top: 35px;
	padding-bottom: 35px;
	position: relative;
	
	// @media (min-width: $screen-xs-min) {
	// 	flex-direction: row;
	// 	align-items: stretch;
	// 	justify-content: flex-start;
	// }

	@media (min-width: $screen-xs-min) {
    flex-basis: 50%;
    
    &:after {
      height: 0;
    }
    
    &:nth-child(2n - 1) .block__inner {
      border-right-color: #808080;
    }
    
    &:nth-child(2n - 1):not(:nth-last-child(1)):not(:nth-last-child(2)) {
      
      &:after {
        height: 1px;
      }
    }
  }



	@media (min-width: $screen-sm-min) {
		flex-basis: 33.333%;
		// flex-direction: column;
		// align-items: baseline;

		&:nth-child(2n - 1) .block__inner {
      border-right-color: transparent;
    }
    
    // убираем предыдущие
    &:nth-child(2n - 1):not(:nth-last-child(1)):not(:nth-last-child(2)) {
      
      &:after {
        height: 0;
      }
    }
    
    &:nth-child(3n + 1) .block__inner,
    &:nth-child(3n + 2) .block__inner {
      border-right-color: #808080;
    }
    
    &:nth-child(3n + 1):not(:nth-last-child(1)):not(:nth-last-child(2)):not(:nth-last-child(3)) {
      
      &:after {
        height: 1px;
      }
    }

	}

	@media (min-width: $screen-lg-min) {
		flex-basis: 25%;
		// убираем предыдущие
    &:nth-child(3n + 1) .block__inner,
    &:nth-child(3n + 2) .block__inner {
      border-right-color: transparent;
    }
    
    // убираем предыдущие
    &:nth-child(3n + 1):not(:nth-last-child(1)):not(:nth-last-child(2)):not(:nth-last-child(3)) {
      
      &:after {
        height: 0;
      }
    }
    
    &:nth-child(4n + 1) .block__inner,
    &:nth-child(4n + 2) .block__inner,
    &:nth-child(4n + 3) .block__inner {
      border-right-color: #808080;
    }
    
    &:nth-child(4n + 1):not(:nth-last-child(1)):not(:nth-last-child(2)):not(:nth-last-child(3)):not(:nth-last-child(4)) {
      
      &:after {
        height: 1px;
      }
    }
		

		
	}

	&__logo {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 30px;

		@media (min-width: $screen-xs-min) {
			flex: 0 0 120px;
			max-width: 120px;
			margin-bottom: 0;
			margin-right: 12.5%;
		}
		@media (min-width: $screen-sm-min) {
			flex-basis: 90px;
			align-items: flex-end;
			margin-bottom: 25px;
		}

		&-img {
			max-width: 180px;
			width: auto;
		}
	}

	&__title {
		font-family: $font-family--fedrasans;
		font-size: $font-size--base;
		font-weight: normal;
		margin-bottom: 10px;

		@media (min-width: $screen-sm-min) {
			font-size: 18px;
		}
	}

	&__country {
		font-family: $font-family--gillsans-light;
		font-size: $font-size--base;
		font-weight: light;
		display: block;
		
		@media (min-width: $screen-sm-min) {
			margin-bottom: 20px;
			font-size: 18px;
		}
	}

	&__price {
		display: none;
		
		@media (min-width: $screen-sm-min) {
			display: block;
			font-family: $font-family--fedrasans;
			font-size: 18px;
			font-weight: normal;
			display: block;
			color: $green;
		}
	}
}