$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
}

.blocks {
  position: relative;
  margin: 2em  0;
  border-top: 1px solid #808080;
  border-bottom: 1px solid #808080;
  padding: 0 40px;
  
  &__inner {
    
    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
    }
    
    // @media (min-width: $screen-xl) {
    //   width: ($screen-xl - 30);
    //   margin: auto;
    // }
  }
}

.block {
  
  &:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #808080;
  }
  
  // @media (min-width: $screen-md) {
  //   flex-basis: 50%;
    
  //   &:after {
  //     height: 0;
  //   }
    
  //   &:nth-child(2n - 1) .block__inner {
  //     border-right-color: #808080;
  //   }
    
  //   &:nth-child(2n - 1):not(:nth-last-child(1)):not(:nth-last-child(2)) {
      
  //     &:after {
  //       height: 1px;
  //     }
  //   }
  // }
  
  @media (min-width: $screen-md) {
    flex-basis: 33.333%;
    
    // убираем предыдущие
    &:nth-child(2n - 1) .block__inner {
      border-right-color: transparent;
    }
    
    // убираем предыдущие
    &:nth-child(2n - 1):not(:nth-last-child(1)):not(:nth-last-child(2)) {
      
      &:after {
        height: 0;
      }
    }
    
    &:nth-child(3n + 1) .block__inner,
    &:nth-child(3n + 2) .block__inner {
      border-right-color: #808080;
    }
    
    &:nth-child(3n + 1):not(:nth-last-child(1)):not(:nth-last-child(2)):not(:nth-last-child(3)) {
      
      &:after {
        height: 1px;
      }
    }
  }
  
  @media (min-width: $screen-xl) {
    flex-basis: 25%;
    
    // убираем предыдущие
    &:nth-child(3n + 1) .block__inner,
    &:nth-child(3n + 2) .block__inner {
      border-right-color: transparent;
    }
    
    // убираем предыдущие
    &:nth-child(3n + 1):not(:nth-last-child(1)):not(:nth-last-child(2)):not(:nth-last-child(3)) {
      
      &:after {
        height: 0;
      }
    }
    
    &:nth-child(4n + 1) .block__inner,
    &:nth-child(4n + 2) .block__inner,
    &:nth-child(4n + 3) .block__inner {
      border-right-color: #808080;
    }
    
    &:nth-child(4n + 1):not(:nth-last-child(1)):not(:nth-last-child(2)):not(:nth-last-child(3)):not(:nth-last-child(4)) {
      
      &:after {
        height: 1px;
      }
    }
  }
  
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding: 0px 40px;
    border-right: 1px solid transparent;
  }
  
  &__image {
    flex-shrink: 0;
    margin-right: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #ddd;
    border: 1px solid #808080;
    border-radius: 3px;
    font-size: 10px;
    color: #777;
    text-align: center;
    padding: 0.5em;
  }
  
  &__name {
    margin-top: 0.3em;
  }
}