.main-nav {
	display: none;
	@media (min-width: $screen-md-min) {
    display: block;
    width: 71%;
    padding: 12px 0;
  }
  @media (min-width: $screen-lg-min) {
    display: block;
    margin-left: 15%;
  }

  @media (min-width: $screen-xlg-min) {
    margin-left: 25%;
  }

  &__list {
  	list-style: none;
  	display: flex;
  	justify-content: flex-start;
  	flex-wrap: wrap;
  }

  &__item {
  	margin-right: 3%;

    @media (min-width: $screen-lg-min) {
      margin-right: auto;
    }
  }

  &__link {
  	text-decoration: none;
  	text-transform: uppercase;
  	font-family: $font-family--gillsans;
  	font-weight: 400;
  	font-size: 12px;
    line-height: 30px;
  	color: $green;
  	white-space: nowrap;
    letter-spacing: 2px;
    @media (min-width: $screen-xlg-min) {
      font-size: 14px;
      letter-spacing: 3px;
    }
    &:hover {
      text-decoration: underline;
    }
  	&--active {
  		color: $gray;
      &:hover {
        text-decoration: none;
      }
  	}
  }


  &--active {
    display: block;
    .main-nav__list {
      text-align: center;
      list-style: none;
      position: absolute;
      top: 150%;
      left: 50%;
      transform: translateX(-50%);
      background-color: #fff;
      width: 100%;
      flex-direction: column;
      z-index: 1000;
      .main-nav__item {
        margin-right: 0;
      }
    }
  }
}