.rates {

	&__container {
		@include container();
		position: relative;
	}

	&__control {
		position: absolute;
		display: none;
		cursor: pointer;
		fill: #ddd;
		@media (min-width: $screen-sm-min) {
			display: block;
			width: 20px;
			height: 20px;
		}
		@media (min-width: $screen-md-min) {
			width: 40px;
			height: 40px;
		}
		&--1 {
			// width: 43px;
	    // height: 42px;
	    top: 0;
	    left: 80px;
	    @media (min-width: $screen-xlg-min) {
				left: 150px;
	    }
		}

		&--2 {
			// width: 42px;
	    // height: 44px;
	    // background-position: -25px -5px;
	    top: 0;
	    left: 120px;
	    @media (min-width: $screen-xlg-min) {
				left: 230px;
	    }
		}
	}

	&__title {
		font-family: $font-family--fedrasans;
		font-weight: 300;
		font-size: $font-size--title;
		margin-bottom: 100px;
		position: relative;
		@media (min-width: $screen-sm-min) {
			font-size: 32px;
			text-align: center;
		}
		@media (min-width: $screen-lg-min) {
			font-size: 36px;
		}

		&::after {
			width: 80px;
			height: 4px;
			content: '';
			position: absolute;
			bottom: -40px;
			left: 0;
			background-color: $green;
			@media (min-width: $screen-sm-min) {
				width: 40px;
				height: 2px;
				bottom: -25px;
				left: 50%;
				transform:translateX(-50%);
			}
		}
	}

	&__exchanges {
		display: flex;
		flex-direction: column;
		@media (min-width: $screen-sm-min) {
			flex-direction: row;
			flex-wrap: wrap;
			margin-left: -35px;
			margin-right: -35px;
		}
	}
}