/*
Файл для отдельной подгрузки WOFF2-версии файла JS-ом.
Будет обработан при сборке: в url() будет подставлена base64 кодированная версия указанного файла
*/

@font-face {
  font-family: 'Open Sans_my';
  src: url('opensans.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans_my';
  src: url('opensans_bold.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'Fedra Sans';
  src: url('FedraSansPro-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Fedra Sans';
  src: url('FedraSansPro-Normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fedra Sans';
  src: url('FedraSansPro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fedra Sans';
  src: url('FedraSansPro-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}


// @font-face {
//   font-family: 'Gill Sans';
//   src: url('GillSansMT_Light.woff') format('woff');
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Gill Sans';
//   src: url('GillSansMT.woff') format('woff');
//   font-weight: 400;
//   font-style: normal;
// }